<div class="bg-gray-100 h-16 text-gray-800 flex justify-around items-center shadow-xl sticky top-0">
  <div class="flex justify-center items-center space-x-7">
    <%= link_to root_path, class: "text-2xl hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15" do %>
      <i class="fa-solid fa-house text-blue-700"></i> WEC Schools
    <% end %>
    <div class="hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Schools</div>
    <div class="hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Classes</div>
    <div class="hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Events</div>
  </div>
  <div class="flex justify-center items-center space-x-7">
    <%= link_to "https://wipahs.co.tz/", class: "hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15", target: "_blank" do %>
      <i class="fa-solid fa-earth-africa"></i> WIPAHS
    <% end %>
    <div class="px-2 py-1 text-gray-50 bg-green-600 rounded hover:bg-green-800 transition delay-15"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log in</div>
  </div>
</div>